body {
  font-family: "Cinzel", Arial, Helvetica, sans-serif;
  background-color: black;
  color: white;
}

.name {
  font-family: "Gayathri", Arial, Helvetica, sans-serif;
  font-size: 100px;
}

footer {
  background-color: white;
  color: black;
  width: 100%;
  text-align: center;
  padding: 10px;
  font-size: 14px;
}

i {
  margin-left: 20px;
  margin-right: 20px;
}

i:hover {
  color: grey;
  cursor: pointer;
}

a {
  color: black;
}

.bg-image {
  height: 60px;
}
