body {
  font-family: "Cinzel", Arial, Helvetica, sans-serif;
  background-color: black;
  color: white;
}

.name {
  font-family: "Gayathri", Arial, Helvetica, sans-serif;
  font-size: 100px;
}

.image-half {
  background: url(bg-1.jpg);
  width: 50%;
  position: absolute;
  left: 0px;
  height: 100%;
}

.text-half {
  margin-top: 100px;
  width: 50%;
  position: absolute;
  right: 0px;
  height: 100%;
}

.image-half img {
  max-height: 100%;
}

footer {
  background-color: white;
  color: black;
  position: fixed;
  bottom: 0px;
  width: 100%;
  text-align: center;
  padding: 10px;
}

i {
  margin-left: 20px;
  margin-right: 20px;
}

i:hover {
  color: grey;
  cursor: pointer;
}

a {
  color: black;
}
